 <!-- Footer Section -->
 <footer class="bg-gray-800 text-white py-6 mt-8">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 AniNight , NpatPublisher. สงวนลิขสิทธิ์</p>
        <nav class="mt-4">
            <a href="https://ani-night.online/term#Privacy" target="_blank" class="text-gray-400 hover:text-white">นโยบายความเป็นส่วนตัว</a> | 
            <a href="https://ani-night.online/term#OurPolicy" target="_blank" class="text-gray-400 hover:text-white">เงื่อนไขการใช้บริการ</a>
        </nav>
    </div>
</footer>