<header class="bg-white shadow-md sticky top-0 z-50">
    <div class="container mx-auto flex justify-between items-center p-4">
        <a href="/read/<%= urlslug %>" class="text-2xl font-bold text-blue-600">AniNight</a>
        <nav class="space-x-4">
            <a href="https://ani-night.online" target="_blank" class="text-gray-600 hover:text-blue-600">หน้าแรก</a>
            <a href="https://web.facebook.com/AniNightOffice.net" target="_blank" class="text-gray-600 hover:text-blue-600">ติดต่อเรา</a>
        </nav>
    </div>
</header>